$darkBlue: #25304C;
$lightBlue: #337ab7;
$lightGray: #E8E8E8;
$white: #fff;
$lilac: #c6b6ff;
$lightGray: #EBEBEB;
$primaryFont: 'Raleway', sans-serif;
$secondaryFont: 'Open Sans Condensed', san serif;

* {
	box-sizing: border-box;
}

body {
	background-color: $darkBlue;
	font-size: 0.875rem;
	/* color: #666; */
	color: #151414;
	font-family: $primaryFont;
	font-weight: 300;
	line-height: 26px;
	
	 @mixin atSmall {
		 font-size: 1rem;
	} 
}

h1, h2, h3, h4, h5, h6 {
    font-family: $secondaryFont;
	font-weight: 600;
    text-transform: uppercase;
	color: #222;
}

h3 {
	font-size: 1.25rem;
}

a {
	color: $lightBlue;
	text-decoration: none;
	transition: all .5s ease-out;
	&:hover {
		color: #6F43A6;
	}
}

img, video, embed, object {
	max-width: 100%;
	height: auto;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.section-line {
    width: inherit;
    margin: 30px 0;
    background: #D5B4E4;
	height: 2px;
	
	&--short {
		margin: -15px auto 5% auto;
		width: 15%;

		@mixin atSmall {
			margin: 5% auto;
		}

		@mixin atMedium {
			margin: 3% auto;
		}
	}
}

.noscroll {
	height: 100%;
	overflow: hidden;
}

/* add fade in effect for all lazyloading images */
.lazyload,
.lazyloading {
	opacity: 0;
}


.lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
}