$darkBlue: #25304C;

body {
	background-color: $darkBlue;
	font-size: 0.875rem;
	color: #666;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	line-height: 26px;
	
	 @mixin atSmall {
		 font-size: 1rem;
	} 
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 600;
    text-transform: uppercase;
	color: #222;
}
