@define-mixin atSmall {
    @media (min-width: 480px) {
        @mixin-content;
    }
}

@define-mixin atMedium {
    @media (min-width: 768px) {
        @mixin-content;
    }
}

@define-mixin atLarge {
    @media (min-width: 992px) {
        @mixin-content;
    }
}

@define-mixin clearfix {
    &::after {
      content: "";
      clear: both;
      display: table;
    }
  }

@define-mixin backgroundImage {
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}