.about-section {
    position: relative;
    min-height: 90vh;
    background-color: rgb(234, 233, 245);

    @mixin atMedium {
        background-image: url('../../assets/images/flowers_light.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__text-content {
        padding-top: 150px;
    }

    &__author-image {
        background-image: url(../../assets/images/olga_fomin_image--smaller.jpg);
        border-radius: 50%;
        border: 2px solid #fff;
        position: absolute;
        top: 1.2rem;
        left: 50%;
        max-width: 100%;
        width: 150px;
        height: 150px;
        transform: translateX(-50%);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;

        @mixin atSmall {
            background-image: url(../../assets/images/olga_fomin_image--small.jpg);
            width: 200px;
			height: 200px;
        }

        @mixin atLarge {
            background-image: url(../../assets/images/olga_fomin_image--large.jpg);
            border-radius: 0;;
            border: none;
            position: relative;
            top: 0;
            left: 0;
            width: 638px;
            height: 920px;
            transform: translateX(0);
        }
    }
}