.about-section {
    position: relative;
    background-color: rgb(234, 233, 245);

    @mixin atMedium {
        background-image: url('../../assets/images/flowers_light.jpeg');
        @mixin backgroundImage;
    }

    &__text-content {
        @mixin atLarge {
            padding-top: 4.5rem;
        }
    }

    /* fallback for old browsers */
    .no-flexbox &__text-content {
        margin-top: 180px;
        @mixin atSmall {
            margin-top: 200px;
        }
        @mixin atLarge {
            margin-top: 0;
        }
    }

    .no-flexbox  &__author-image {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        @mixin atLarge {
            position: relative;
            top: 0;
            left: 0;
            transform: none;
        }
    }

    &__author-image {
        margin: 0 auto;
        background-image: url(../../assets/images/olga_fomin--smaller.jpg);
        border-radius: 50%;
        border: 2px solid #fff;
        max-width: 100%;
        width: 150px;
        height: 150px;
       @mixin backgroundImage;

        @mixin atSmall {
            background-image: url(../../assets/images/olga_fomin--small.jpg);
            width: 200px;
			height: 200px;
        }

        @mixin atLarge {
            background-image: url(../../assets/images/olga_fomin--large.jpg);
            border-radius: 0;;
            border: none;
            position: relative;
            top: 0;
            left: 0;
            width: 638px;
            height: 920px;
            transform: translateX(0);
        }
    }
}