.btn {
    display: block;
    padding: 10px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: $white;
    background-color: $darkBlue;
    border: 1px solid $darkBlue;
    transition: background-color .5s;
    border-radius: 1px;
    width: 100%;
    margin-top: 2%;
    
    &:focus,
    &:hover {
        color: $white;
        background-color: $white;
        color: $darkBlue;
    }

    @mixin atMedium {
        padding: 6px 60px;
        width: intrinsic; /* Safari/WebKit uses a non-standard name */
        width: fit-content;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    @mixin atLarge {
        margin-left: 0;
        margin-right: 0;
    }

    &--centered {
        margin-left: auto;
        margin-right: auto;
    }
}