.fixed-header {
    & .site-header__text-content {
        cursor: default;
        height: 100px;
        position: fixed;
        top: 0;
        padding: 15px 0 0;
        background-color: #25304C;
        border-bottom: 15px solid rgba(37, 48, 76, 0.2);
        transform: translateY(0);

        @mixin atSmall {
            height: 110px;
        }
    }

    & .primary-nav {
        z-index: 2;
        text-align: center;
        width: 100%;
        @mixin atSmall {
            left: 0;
        }

        & a {
            font-size: 1.25rem;
            padding: .43em 0;
            @mixin atSmall {
                font-size: 1.4375rem;
                padding: .3em 0;
            }
        }
    }

    & .site-header__home-link {
        z-index: 2;
        cursor: pointer;
        @mixin atSmall {
            position: absolute;
            padding: .2em .45em;
            top: 10px;
        }
        @mixin atMedium {
            width: fit-content;
            text-align: left;
        }
    }

    & .site-header__title {
        display: none;
        @mixin atMedium {
            font-size: 3rem;
            display: block;
            margin: 10px 0 0;
        }
    }

    & .site-header__subtitle {
        display: none;
        @mixin atMedium {
            display: block;
            font-size: .95rem;
            letter-spacing: .5px;
            position: relative;
            left: 13px;
            margin: 0;
        }
    }

    & .site-header__logo {
        display: inline-block;
        @mixin atMedium {
            display: none;
        }
    }

    & .list {
        padding-left: 0;
    }

    & .social-icons {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        @mixin atSmall {
            bottom: 5px;
        }
        @mixin atMedium {
            margin-left: 0;
        }

        & a {
            @mixin atSmall {
                padding: .85em;
            }
        }
    }
}

/* .is-small {
    & .site-header__text-content {
        cursor: default;
    }   
} */