.fixed-header {
    & .site-header__text-content {
        cursor: default;
        height: 100px;
        position: fixed;
        top: 0;
        padding: 15px 0 0;
        background-color: #25304C;
        border-bottom: 15px solid rgba(37, 48, 76, 0.2);
        background-clip: padding-box;
        transform: translateY(0);

        @mixin atSmall {
            height: 110px;
        }
    }

    & .site-header__logo {
        display: inline-block;
    }

    & .site-header__title {
        display: none;
        /* transform: translateX(-50%); */
        font-size: 2.5rem;

        @mixin atSmall {
            left: 0;
            /* transform: translateX(0); */
        }
        @mixin atMedium {
            position: absolute;
            top: 0;
            left: 0;
            left: 20px;
        }
    }

    & .site-header__home-link {
        cursor: pointer;
        @mixin atSmall {
            position: absolute;
            padding: .2em .45em;
            top: 10px;
        }
    }


    & .site-header__subtitle {
        display: none;

        @mixin atSmall {
            font-size: .875rem;
            position: absolute;
            left: 11px;
            top: 50%;
            transform: translateY(-43%);
            text-transform: uppercase;
            margin-left: 0;
            letter-spacing: .5px;
        }

        @mixin atMedium {
            left: 21px;
        }
    }
    & .list {
        padding-left: 0;
    }

    & .primary-nav {
        text-align: center;
        width: 100%;

        @mixin atSmall {
            left: 0;
        }

        & a {
            font-size: 1.25rem;
            padding: .43em 0;
            @mixin atSmall {
                font-size: 1.4375rem;
                padding: .3em 0;
            }
        }
    }

    & .social-icons {
        position: relative;
        top: 16px;

        @mixin atSmall {
            /* position: relative; */
            /* left: 0;; */
            /* top: 0; */
            /* margin-left: 0; */
            /* margin-top: .625rem; */
        }

        /* & li {
            display: block;
            @mixin atSmall {
                display: inline-block;
            }
        } */

        /* &__icon {
            font-size: 1.3em;
        } */

        & a {
            @mixin atSmall {
                padding: .85em;
            }
        }
    }
}

.is-small {
    & .site-header__text-content {
        cursor: default;
    }   
}