.portfolio-item {
    position: relative;
    background-color: rgba(51, 46, 51, 0.8);
    padding: 0;
    cursor: pointer;
    height: 120px;
    margin-top: 1%;

    &__image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__hover-mask {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 5px;
        opacity: 1;
        background: white;
        box-shadow: inset 0 0 0 5px rgba(29, 29, 29, 0.1);
        text-align: center;
        transition: opacity 0.35s ease;

        &:hover {
            opacity: 1;
        }
    }

    &__title {
        margin: 1em 0 .5em 0;
    }
    
    &__subtitle {
        width: 70%;
        margin: 0 auto;
    }
}