.portfolio-item {
    position: relative;
    background-color: rgba(51, 46, 51, 0.8);
    padding: 0;
    cursor: pointer;
    height: 120px;
    z-index: 0;

    @mixin atMedium {
        height: 400px;
    }

    &__image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @mixin atMedium {
            height: 400px;
            &#project1-portfolio-image {
                background-image: url('../../assets/images/project1_homepage.webp');
            }
            &#project2-portfolio-image {
                background-image: url('../../assets/images/project2_homepage.webp');
            }
            &#project3-portfolio-image {
                background-image: url('../../assets/images/project3_homepage.webp');
            }
            &#project4-portfolio-image {
                background-image: url('../../assets/images/project4_homepage.webp');
            }
        } 
    }

       

    &__hover-mask {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: .3125em;
        opacity: 1;
        background: white;
        box-shadow: inset 0 0 0 5px rgba(29, 29, 29, 0.1);
        text-align: center;
        transition: opacity 0.35s ease;
        @mixin atMedium {
            opacity: 0;
            padding: 1.5625em;
        }

        &:hover {
            opacity: 1;
        }
    }

    &__inner {
        width: 100%;
        padding: 0 5%;
        text-align: center;
        @mixin atMedium {
            position: absolute;
            left: 0;
            top: 40%;
            margin-top: -1.56252em;
        }
    }

    &__title {
        font-size: 1.5em;
        margin: 1em 0 .5em 0;
    }
    
    &__subtitle {
        width: 70%;
        margin: 0 auto;
        color: #666;
    }
}