.primary-nav {
        text-align: center;
        width: 100%;

        @mixin atSmall {
            position: relative;
            bottom: 0;
            left: -3%;
        }
    
        & a {
            padding: .43em 0;
            text-decoration: none;
            font-family: $secondaryFont;
            font-size: 1.25rem;
            color: $lilac;
            text-transform: uppercase;
            transition: all .7s;
            

            @mixin atSmall {
                font-size: 1.4375rem;
                padding: .3em 0;
            }
        }

        .fa.fa-circle-o {
            color: $lilac;
            font-size: .75rem;
            transform: translateY(-3px);
        }
}