.primary-nav {
        position: absolute;
        bottom: 7px;
        text-align: center;
        width: 100%;

        @mixin atSmall {
            position: relative;
            bottom: 0;
        }

        & .list {
            padding-left: 0;
        }
    
        & a {
            text-decoration: none;
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 1.25rem;
            color: #c6b6ff;
            text-transform: uppercase;
            transition: all .7s;
            

            @mixin atSmall {
                font-size: 1.4375rem;
            }
        }

        .fa.fa-circle-o {
            color: #c6b6ff;
            font-size: .75rem;
            transform: translateY(-3px);
        }
}