.primary-nav {
        text-align: center;
        width: 100%;

        @mixin atSmall {
            position: relative;
            bottom: 0;
            left: -3%;
        }
    
        & a {
            padding: .48em 0;
            text-decoration: none;
            font-family: $secondaryFont;
            font-size: 1.25rem;
            color: $lilac;
            text-transform: uppercase;
            transition: all .7s;
            

            @mixin atSmall {
                font-size: 1.4375rem;
            }
            @mixin atMedium {
                padding: .4em 0;
            }
        }

        .icon-circle {
            color: $lilac;
            font-size: .75rem;
            position: relative;
            top: -3px;
        }
}