.project-content {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateZ(0);
    backface-visibility: hidden;
    transform: translateY(100%);
    transition: transform 0.4s 0s, visibility 0s 0.4s;
	transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
    background-color: $white;
    padding-top: 3%;
    padding-bottom: 5%;
    line-height: 33px;
    overflow: scroll;


    &__text,
    &__list {
        width: 100%;
        margin: 4% auto;
        strong {
            font-weight: 600;
        }
        @mixin atSmall {
            width: 80%;
        }
        @mixin atLarge {
            width: 50%;
        }
    }

    &__list {
        margin-top: 5%;
        &--narrow {
            @mixin atSmall {
                width: 60%;
            }
            @mixin atMedium {
                width: 40%;
            }
            @mixin atLarge {
                width: 30%;
            }
        }
    }

    &__image {
        &--single {
            width: 100%;
            @mixin atSmall {
                width: 80%;
            }
        }
    }

    
    &__mockups {
        background-color: $lightGray;
    }
    
    &__subtitle {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 0;
    }

    .fa.fa-chevron-right {
		position: absolute;
		top: 50%;
		left: 50%;
        transform: translateX(-50%) translateY(-60%) rotate(90deg);
        
        @mixin atLarge {
            transform: translateX(-50%) translateY(-60%) rotate(0deg);
        }
	}

    &__close-button {
        cursor: pointer;
        display: block;
        height: 32px;
        width: 32px;
        position: absolute;
        top: 10px;
        right: 10px;
        background: url(../../assets/images/icons/close.png) no-repeat center center;
        color: transparent;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
    }

    &__magic-button {
        color: $lightBlue;
        transition: all .5s ease-out;
        cursor: pointer;
		margin-top: 7%;
        font-size: .8125rem;
        text-align: center;
        &:hover {
            color: #6F43A6;
        }
		span {
			vertical-align: middle;
        }
        @mixin atMedium {
            font-size: .875rem;
        }
    }
    
    &.is-visible {
        visibility: visible;
        transform: translateY(0);
        transition: transform 0.4s 0s, visibility 0s 0s;
        transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
    }
}

