.row {
    position: relative;
    @mixin clearfix;

    &__medium-6 {
        @mixin atMedium {
            width: 50%;
            float: left;
        }

        .row {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__large-6 {
        @mixin atLarge {
            width: 50%;
            float: left;
        }
    }

    
    &__medium-4 {
        width: 100%;
        @mixin atMedium {
            width: 33.33333333%;
            float: left;
        }
        &--with-padding {
            padding-right: 15px;
            padding-left: 15px;
        }
    }

    &__medium-8 {
        width: 100%;
        @mixin atMedium {
            width: 66.66666667%;
            float: left;
        }
        &--with-padding {
             padding-right: 15px;
            padding-left: 15px;
        }
    }

    .flexbox &--flex-reverse {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        @mixin atLarge {
            flex-direction: row;
        }
    }

    .no-flexbox &--flex-reverse {
        position: static;
        @mixin atLarge {
            position: relative;
        }
    }
}