.row {
    position: relative;
    @mixin clearfix;

    &__medium-6 {
        min-height: 1px;

        @mixin atLarge {
            width: 50%;
            float: left;
        }

        .row {
            padding-left: 0;
            padding-right: 0;
        }
    }
    
    &__medium-4 {
        width: 100%;
        @mixin atMedium {
            width: 33.33333333%;
            float: left;
        }
        &--with-padding {
            padding-right: 15px;
            padding-left: 15px;
        }
    }

    &__medium-8 {
        width: 100%;
        @mixin atMedium {
            width:  66.66666667%;
            float: left;
        }
        &--with-padding {
             padding-right: 15px;
            padding-left: 15px;
        }
    }
}