.row {
    position: relative;
    @mixin clearfix;

    &__medium-6 {
        min-height: 1px;

        @mixin atLarge {
            width: 50%;
            float: left;
        }

        .row {
            padding-left: 0;
            padding-right: 0;
        }
    }
    
}