.section-title {
	text-align: center;
	font-size: 1.5rem;
    margin: 0 0 30px;
	letter-spacing: 2px;
	font-weight: 500;

	&--overlay {
		top: -30px;
		position: relative;
		z-index: 2;
        margin-bottom: -20px;
        
        @mixin atSmall {
            top: -10px;
        }
	}
	
	@mixin atSmall {
		font-size: 2.8125rem;
		margin: 0 0 20px;
		letter-spacing: 3px;
	}

	@mixin atLarge {
		text-align: left;
	}
}