.section-title {
	text-align: center;
	font-size: 1.5rem;
    margin: 0 0 30px;
	letter-spacing: 2px;
	font-weight: 500;
	z-index: 2;

	@mixin atSmall {
		font-size: 2.8125rem;
		letter-spacing: 3px;
	}

	&--overlay {
		position: absolute;
		top: 100px;
		transform: translateX(-50%);
		left: 50%;
		@mixin atSmall {
			top: 140px;
		}
		@mixin atLarge {
			position: static;
		    transform: none;
    		left: 0;
		}
	}

	&--left-align {
		@mixin atLarge {
			text-align: left;
		}
	}

	&--with-p-left-at-large {
		@mixin atLarge {
			padding-left: 15px;
		}
	}
}