.site-header {
    cursor: url(../../assets/images/down-arrow-cursor.png) 16 16, auto;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;

    @mixin atSmall {
        height: 100vh;
    }

    &__text-content {
        text-align: center;
        width: 100%;
        z-index: 10;
        height: 100px;
        position: fixed;
        top: 0;
        left: 0;
        padding: 15px 0 0;
        background-color: #25304C;
        border-bottom: 15px solid rgba(37, 48, 76, 0.2);
        background-clip: padding-box;
        transform: translateY(0);
        transition: all 0.2s;

        @mixin atSmall {
            height: auto;
            border-bottom: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: transparent;
        }
    }

    &__title {
        position: absolute;
        top: -5px;
        left: 50%;
        font-size: 2.5rem;
        font-family: 'Stalemate', cursive;
        color: #f5f4f9;
        text-shadow: 10px 10px 3px rgba(0,0,0,0.15);
        text-transform: none;
        font-weight: 400;
        z-index: 1;
        

        @mixin atSmall {
            font-size: 6.875rem;
            position: relative;
            top: 0;
            margin-bottom: 4rem;
            left: 0;
            transition: transform .3s ease-out;
        }
    }

    &__logo-link {
        color: $white;
        pointer-events: none;
        &:hover {
            color: $white;
        }
    }

    &__subtitle {
        display: none;
        font-family: $secondaryFont;
        font-size: 1.375rem;
        color: #D5B4E4;
        margin-left: 8%;

        @mixin atSmall {
            display: block;
            font-size: 1.625rem;
        }
    }
}