.site-header {
    cursor: default;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;

    @mixin atSmall {
        height: 100vh;
        cursor: url(../../assets/images/icons/down-arrow-cursor.png) 16 16, auto;
    }

    &__text-content {
        text-align: center;
        width: 100%;
        z-index: 10;
        height: 100px;
        position: fixed;
        top: 0;
        left: 0;
        padding: 15px 0 0;
        background-color: $darkBlue;
        border-bottom: 15px solid rgba(37, 48, 76, 0.2);
        background-clip: padding-box;
        transform: translateY(0);
        transition: all 0.2s;

        @mixin atSmall {
            height: auto;
            border-bottom: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: transparent;
        }
    }

    &__home-link {
        position: absolute;
        top: 10px;
        left: 0;
        padding: 0.2em .5em;
        color: $white;
        &:hover {
            color: $white;
        }
        @mixin atSmall {
            cursor: inherit;
            position: relative;
            top: 0;
            padding: 0;
            text-align: center;
        }
    }

    &__logo {
        @mixin atSmall {
            display: none;
        }
    }

    &__title {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 2.5rem;
        font-family: 'Stalemate', cursive;
        color: #f5f4f9;
        text-shadow: 10px 10px 3px rgba(0,0,0,0.15);
        text-transform: none;
        font-weight: 400;
        z-index: 1;
        
        @mixin atSmall {
            display: block;
            font-size: 6.875rem;
            position: relative;
            margin-bottom: 60px;
            transition: transform .3s ease-out;
        }
    }

    &__subtitle {
        display: none;
        font-family: $secondaryFont;
        color: #D5B4E4;

        @mixin atSmall {
            position: relative;
            display: block;
            font-size: 1.625rem;
            left: 5%;
        }
    }
}