.site-header {
    position: absolute;
    height: 10vh;
    width: 100%;
    left: 0;
    top: 0;

    @mixin atSmall {
        height: 100vh;
    }
  
    &__text-content {
        text-align: center;
		position: absolute;
		width: 100%;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
		z-index: 1;
		background-color: transparent;
    }

    &__title {
        position: relative;
        font-family: 'Stalemate', cursive;
        font-size: 5rem;
        color: #f5f4f9;
        text-shadow: 10px 10px 3px rgba(0,0,0,0.15);
        text-transform: none;
        font-weight: 400;
        margin-bottom: 4rem;

        @mixin atSmall {
            font-size: 6.875rem;
        }
    }

    &__subtitle {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1.375rem;
        color: #D5B4E4;
        margin-left: 8%;

        @mixin atSmall {
            font-size: 1.625rem;
        }
    }
}