.slick-slide {
    @mixin atMedium {
        margin: 0 6px;
    }
}


.slick-dots {
    bottom: -35px;
    li button:before {
        font-size: 12px;
    }
}

.slick-prev, .slick-next {
    z-index: 2;
    &:before {
        font-size: 22px;
        @mixin atMedium {
            font-size: 30px;
        }
    }
}

.slick-arrow {
    top: 0;
    height: 120px;
    width: 60px;
    opacity: .8;
    background: #5E679D;
    transition: transform .3s;
    @mixin atMedium {
        height: 400px;
        width: 80px;
    }
    &:before {
        opacity: .65;
        transition: all .3s;
    }
    &:focus,
    &:hover {
       background: #5E679D;
    }
}

.slick-prev {
    left: 0;
    transform: translate(-50%, 0);
    &:focus,
    &:hover {
        background: #5E679D;
        transform: translate(0, 0);
        &:before {
            right: 0;
        }
    }
    &:before {
        right: -18px;
        position: relative;
        @mixin atMedium {
            right: -20px;
        }
    }
}

.slick-next {
    right: 0;
    transform: translate(50%, 0);
    &:focus,
    &:hover {
        background: #5E679D;
        transform: translate(0, 0);
        &:before {
            left: 0;
        }
    }
    &:before {
        left: -18px;
        position: relative;
        @mixin atMedium {
            left: -20px;
        }
    }
}