.social-icons {
    position: relative;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);

    @mixin atSmall {
        left: 0;
        top: 0;
        transform: none;
    }

    & li {
        text-decoration: none;
    }

    & a {
        padding: 1.1em;
        @mixin atSmall {
            padding: .9em;
        }
    }

    &--with-l-margin {
        @mixin atMedium {
            margin-left: 5%;
        }
        @mixin atMedium {
            margin-left: 6%;
        }
    }

    &__icon {
        font-size: 1.5em;
        transition: all .5s;
        color: $white;
    }
}