.social-icons {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    @mixin atSmall {
        position: relative;
        left: 0;
        bottom: 0;
        transform: none;
    }

    & li {
        text-decoration: none;
    }

    & a {
        padding: 1em;
        @mixin atSmall {
            padding: .8em;
        }
    }

    &--with-l-margin {
        @mixin atMedium {
            margin-left: 5%;
        }
        @mixin atMedium {
            margin-left: 6%;
        }
    }

    &__icon {
        font-size: 1.5em;
        transition: all .5s;
        color: $white;
    }
}