.social-icons {
    position: relative;
    top: 16px;
    transition: all .5s ease-in-out;


    @mixin atSmall {
        top: 0;
    }

    & li {
        text-decoration: none;
    }

    & a {
        padding: 1em;
        @mixin atSmall {
            padding: .8em;
        }
    }

    &--with-margin-left {
        margin-left: 0;
        @mixin atLarge {
            margin-left: 5%;
        }
    }

    &__icon {
        font-size: 1.5em;
        transition: all .5s;
        color: $white;
    }
}