.text-box {
    padding-top: 3%;
    
    @mixin atSmall {
        padding-right: 15px;
        padding-left: 15px;
    }

    @mixin atMedium {
        padding-top: 6%;
    }

    @mixin atLarge {
        &--no-t-padding-at-large {
            padding-top: 0;
        }
    }

    &--primary {
        padding-top: 0;
    }

    &__title {
        margin: 0 0 15px;
        padding: 0;
        font-size: 1.125rem;
        text-align: center;

        @mixin atLarge {
            text-align: left;
        }
    }
}